<!-- <p id="notice"><%= notice %></p>      -->
<table class="table table-striped client" id="unseen">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Date naissance</th>
    <th>Téléphone</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Courriel</th>
    <th style="display: none;">Mot de passe</th>
    <th>Type de client</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td> <%= @entrepreneur.name %></td>
    <td> <%= @entrepreneur.dateOfBirth %></td>
    <td> <%= @entrepreneur.phoneNumber %></td>
    <td> <%= @entrepreneur.address %></td>
    <td> <%= @entrepreneur.zipCode %></td>
    <td><%= @entrepreneur.emailAddress %></td>
    <td style="display: none;"> <%= @entrepreneur.password %></td>
    <td><%= @entrepreneur.clientType %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Modifier', edit_entrepreneur_path(@entrepreneur) %> |
<%= link_to 'Retour', entrepreneurs_path %>
