<h1>Menus</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Nom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @menus.each do |menu| %>
    <% if (current_user.clientType == Client::CLIENT_TYPES[:administrator]) %>
    <tr>
      <% if (menu.restaurant_id != nil)
        @restaurant = Restaurant.find(menu.restaurant_id)
        if (@restaurant != nil) %>
            <td><%= @restaurant.name %></td>
        <%else %>
            <td></td>
        <%end %>
      <%else %>
          <td></td>
      <%end %>
      <td><%= menu.nom %></td>
      <td><%= link_to 'Détails', menu %></td>
      <td><%= link_to 'Modifier', edit_menu_path(menu) %></td>
      <td><%= link_to 'Supprimer', menu, method: :delete, data: { confirm: 'Êtes-vous certain?' } %></td>
    </tr>
    <% elsif (current_user.clientType == Client::CLIENT_TYPES[:restaurator]) %>
    <tr>
      <% if (menu.restaurant_id != nil)
           @restaurant = Restaurant.find(menu.restaurant_id)
           if (@restaurant != nil && @restaurant.restaurator_id == current_user.id) %>
              <td><%= @restaurant.name %></td>
              <td><%= menu.nom %></td>
              <td><%= link_to 'Détails', menu %></td>
              <td><%= link_to 'Modifier', edit_menu_path(menu) %></td>
              <td><%= link_to 'Supprimer', menu, method: :delete, data: { confirm: 'Êtes-vous certain?' } %></td>
          <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</tbody>
</table>

<br />

<%= link_to 'Nouveau menu', new_menu_path %>
