<h1>Restaurateurs</h1>

<table class="table table-striped restaurator">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Date naissance</th>
    <th>Téléphone</th>
    <th>Adresse</th>
    <th>Code postal</th>
    <th>Courriel</th>
    <th style="display: none;">Mot de passe</th>
    <th>Type de client</th>
    <th>Restaurants assignés</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @restaurators.each do |restaurator|
    if (restaurator.clientType == 'restaurator') %>
          <tr>
            <td><%= restaurator.name %></td>
            <td><%= restaurator.dateOfBirth %></td>
            <td><%= restaurator.phoneNumber %></td>
            <td><%= restaurator.address %></td>
            <td><%= restaurator.zipCode %></td>
            <td><%= restaurator.emailAddress %></td>
            <td style="display: none;"><%= restaurator.password %></td>
            <td><%= restaurator.clientType %></td>
            <td><%= @restaurant = Restaurant.find_all_by_restaurator_id(restaurator.id).count %></td>
            <td><%= link_to 'Modifier', edit_restaurator_path(restaurator) %></td>
            <td><%= link_to 'Supprimer', restaurator, method: :delete, data: { confirm: 'Êtes-vous certain?' } %></td>
          </tr>
      <% end
         end %>
  </tbody>
</table>

<br />

<%= link_to 'Nouveau restaurateur', new_restaurator_path %>

