<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
      td{ padding:10px;}
  </style>
</head>
<body>
<% if @commande_id != nil %>
<% @commande = Commande.find(@commande_id)
   @produits = Produit.find_all_by_commande_id(@commande_id)
   prix = 0
%>
<table border="1">
  <tr>
    <td colspan="2" style="text-align: center; font-size:18px">Voici les détails de votre commande :</td>
  </tr>
  <tr>
    <td ><b>Restaurant</b></td>
    <td ><%= Restaurant.find(@commande.restaurant_id).name %></td>
  </tr>
  <tr>
    <td ><b>Date de livraison</b></td>
    <td ><%= @commande.deliveryTime %></td>
  </tr>
  <tr>
    <td ><b>Adresse de livraison</b></td>
    <td ><%= @commande.deliveryAddress %></td>
  </tr>

  <tr>
    <td colspan="2" style="text-align: center; font-size:18px">Contenu de la commande : </td>
  </tr>
  <% @produits.each do |produit| %>
      <tr>
        <td><b> <%= Plat.find(produit.plat_id).nom %> (<%=sprintf('%.2f',Plat.find(produit.plat_id).prix)%>$) </b></td>
        <td ><%= produit.quantity %></td>
      </tr>
      <% prix = prix + (Plat.find(produit.plat_id).prix * produit.quantity) %>
  <% end %>
  <tr>
    <td><b>Total : </b></td>
    <td><%=  sprintf('%.2f',prix) %>$</td>
  </tr>
</table>
    <p>Merci de faire confiance à MexicanExpress Delivery! </p>
<% else %>
    <p>Une erreur est survenue. </p>
<% end %>

</body>
</html>