<% @produits = Produit.find(:all, :conditions => { :commande_id => @commande.id })
   @AddressList = ClientAddress.find_all_by_client_id(current_user.id)
   @SortedAddressList = @AddressList.sort_by {|a| a.created_at }
   @SortedAddressList = @SortedAddressList.reverse!
%>

<p>
	<b>Client:</b>
	<%= Client.find(@commande.client_id).name %>
	<ul>
		<li><strong>Restaurant:</strong> <%= Restaurant.find(@commande.restaurant_id).name %></li>
		<li><strong>Adresse de livraison:</strong> <%= @commande.deliveryAddress %></li>
		<li><strong>Produits</strong></li>
		<ul>
  		<% @produits.each do |produit| %>
  			<li>
				<% @plat = Plat.find(produit.plat_id) %>
				<span><%= @plat.nom %> (<%= @plat.prix %>) x <%= produit.quantity %></span>
			</li>
		<% end %>
		</ul>
	</ul>
</p>
<%= form_tag('/commandes/confirmer', method: 'post') do %>	
	<div class="fields">
        <div class="field">
          <label> Date/heure de livraison </label><br />
          <input type="datetime" name="deliveryTime" value="<%=Time.now.strftime("%d/%m/%Y %H:%M")%>">
		</div>
      <div class="fields">
        <label> Adresse de livraison </label><br />
        <select name="SelectedAddress">
          <%
             count = 1
             @SortedAddressList.each do |address|  %>
               <option value="<%=address.address%>"><%= address.address %></option>

             <% count = count + 1
                end %>
          %>
        </select>
      </div>

      <label> Nouvelle adresse? </label><br />
        <input name="NewAddress" type="text">

		<%= hidden_field_tag 'id', @commande.id %>
	</div>
	<div class="actions">
		<%= submit_tag 'Confirmer la commande', class: "btn btn-primary" %>
  	</div>
<% end %>
</p>