<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Nom'%><br />
    <%= f.text_field :name, :class=>'form-control', :placeholder=>'Entrez le nom' %>
  </div>
  <div class="form-group">
    <%= f.label :dateOfBirth, 'Date naissance'%><br />
    <%= f.date_select :dateOfBirth, start_year: 1900 %>
  </div>
  <div class="form-group">
    <%= f.label :phoneNumber, 'Numéro de téléphone' %><br />
    <%= f.text_field :phoneNumber, :class=>'form-control', :placeholder=>'Entrez le numéro de téléphone' %>
  </div>

<%
   if (session[:client_id] != nil)
     @AddressList = ClientAddress.find_all_by_client_id(current_user.id)
     @SortedAddressList = @AddressList.sort_by {|a| a.created_at}
     @SortedAddressList = @SortedAddressList.reverse!
   end

   counter = 1
%>

<% if (session[:client_id] != nil) %>

  <% @SortedAddressList.each do |address| %>
      <label> <%='Adresse ' + counter.to_s %> </label>
      <div class="form-group">
      <input class="form-control" pattern=".{2,}" required title="2 characters minimum" value="<%=address.address %>" name="addresses[]" type="text">
      </div>
  <% counter = counter + 1%>
  <% end %>

<% else %>
        <label> <%='Adresse' %> </label> <br />
        <div class="form-group">
              <input class="form-control" pattern=".{2,}" required title="2 characters minimum" name="addresses[]" type="text"  placeholder="Entrez l'adresse">
        </div>
<% end%>

  <div class="form-group">
    <%= f.label :zipCode, 'Code postal' %><br />
    <%= f.text_field :zipCode, :class=>'form-control', :placeholder=>'Entrez le code postal' %>
  </div>
  <div class="form-group">
    <%= f.label :emailAddress, 'Courriel' %><br />
    <%= f.text_field :emailAddress, :class=>'form-control', :placeholder=>'Entrez le courriel' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Mot de passe' %><br />
    <%= f.password_field :password, :class=>'form-control', :placeholder=>'Entrez le mot de passe' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirmation mot de passe' %><br />
    <%= f.password_field :password_confirmation, :class=>'form-control', :placeholder=>'Confirmez le mot de passe' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Soumettre', :class=>'btn btn-primary' %>
  </div>
<% end %>