
<p>
  <b>Nom:</b>
  <%= @client.name %>
</p>

<p>
  <b>Date naissance:</b>
  <%= @client.dateOfBirth %>
</p>

<p>
  <b>Numéro de téléphone:</b>
  <%= @client.phoneNumber %>
</p>

<p>
  <b>Addresse:</b>
  <%= @client.address %>
</p>

<p>
  <b>Code postal:</b>
  <%= @client.zipCode %>
</p>

<p>
  <b>Courriel:</b>
  <%= @client.emailAddress %>
</p>

<p>
  <b>Mot de passe:</b>
  <%= @client.password %>
</p>

<p>
  <b>Type client:</b>
  <%= @client.clientType %>
</p>

<%= link_to 'Modifier', edit_client_path(@client) %> |
<%= link_to 'Retour', clients_path %>
